@model BlogAspNetMVC.BusinessLogic.ViewModels.ArticleViewModel


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Ошибка!</strong> Пожалуйста, исправьте ошибки в форме.
    </div>
}
@if (Model != null)
    {
<h2 class="h2 text-center">@Model.Name</h2>
<div class="text-left">Автор: @Model.Author.UserName</div>
<hr class="border border-primary border-2">
<div class="text-justify">@Model.Text</div>

<div class="text-right">
    @foreach (var tag in Model.Tags)
    {
    <div class="d-inline-block text-muted">
        <a href="@Url.Action(" GetTagById", "Tag" , new { id="tag.Id" })">@tag.Name</a>
    </div>
    }
</div>
<div class="my-4">
    @foreach (var comment in Model.Comments)
    {
    <div class="tag-box">
        <div>@comment.Text</div>
    </div>
    <div class="text-right" >
        <div>
            <span class="bg-info rounded-bg">@comment.Author.UserName</span>
        </div>
    </div>

    }

</div>

<!-- Вызов частичного представления для добавления нового комментария -->
<div class="text-center my-4">
    @Html.Partial("~/Views/Comment/CreateNewComment.cshtml", new BlogAspNetMVC.BusinessLogic.Requests.CommentRequest.AddNewCommentRequest { ArticleId = Model.Id })
</div>
    }



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
