@model BlogAspNetMVC.BusinessLogic.ViewModels.TagViewModel


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Ошибка!</strong> Пожалуйста, исправьте ошибки в форме.
    </div>
}

@if (Model != null)
{
    <h2 class="h2 text-center">@Model.Name</h2>
    <hr class="border border-primary border-2">

    @if (Model.Articles != null && Model.Articles.Any())
    {
        <div class="text-justify">
            @foreach (var article in Model.Articles)
            {
                <div class="my-4">
                    <div>
                        <div class="d-inline-block">Название</div>
                        <a method="get" asp-controller="Article" asp-action="GetArticleByName" asp-route-id="@article.Name" class="mt-2 d-block">@article.Name</a>

                    </div>
                    <div>
                        <div class="d-inline-block">Автор</div>
                        <a method="get" asp-controller="User" asp-action="GetUserById" asp-route-id="@article.Author.Id" class="mt-2 d-block">@article.Author.UserName</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning">Нет доступных статей</div>

    }

    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
    {
        <div class="my-4">
            <a class="btn btn-secondary mt-2" method="get" asp-controller="Tag" asp-action="DeleteTag" asp-route-id="@Model.Id">Удалить</a>
            <a class="btn btn-secondary mt-2" method="get" asp-controller="Tag" asp-action="ChangeTag" asp-route-id="@Model.Id">Изменить</a>
        </div>
    }

}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
